a {
    text-decoration: none;
}

body {
    background: lightgrey;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

h6 {
    font-size: 14px;
    font-weight: bold;
}

header {
    background: white;
    width: 100%;
}

section {
    background: white;
    clear: both;
    width: 960px;
    align-content: center;
    text-align: center;
    margin: auto;
    color: darkslategray;
    font-family: helvetica;
    padding: 20px;
}

.body-border {
    background: lightgray;
    height: 5px;
    margin: 20px;
}

.box {
    width: auto;
    float: left;
    margin: 20px;
}

.name {
    background: darkslateblue;
    color: white;
    padding: 20px;
}

.nav {
    padding: 20px;
    float: right;
    /* border-right: 1px darkslategray solid; */
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#content {
    margin-top: 20px;
    padding-top: 20px;
}

#space {
    height: 20px;
}